@model rsvpyes.Models.Meetings.MeetingDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Meeting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.StartTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.StartTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.PlaceName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.PlaceName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.PlaceUri)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.PlaceUri)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.Fee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.Fee)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Meeting.Id">Edit</a> |
    <a asp-action="SendRsvp" asp-route-id="@Model.Meeting.Id">SendRsvp</a> |
    <a asp-action="Index">Back to List</a>
</div>
<div>
    <h4>参加者一覧</h4>
    <hr />
    <table class="table table-striped">
        <tr>
            <th>名前</th>
            <th>出席</th>
            <th></th>
        </tr>
        @foreach (var status in Model.ResponseStatus)
        {
            <tr>
                <td>@(status.User.Name + (string.IsNullOrEmpty(status.User.Organization) ? "" : $" ({status.User.Organization})"))</td>
                <td>@status.RsvpResponse.ToString()</td>
                <td>
                    <a asp-action="Respond" asp-controller="Response" asp-route-id="@status.RequestId" class="btn btn-link" style="padding:0">返信</a> |
                    @if (status.MessageId.HasValue)
                    {
                        <a asp-action="Details" asp-controller="Messages" asp-route-id="@status.MessageId" class="btn btn-link" style="padding:0">メッセージ</a><text> |</text>
                    }
                    <form asp-action="DeleteInvitation" style="display: inline;">
                        <input type="hidden" name="Id" value="@Model.Meeting.Id" />
                        <input type="hidden" name="RequestId" value="@status.RequestId" />
                        <button type="submit" class="btn btn-link" style="padding:0">削除</button>
                    </form>
                </td>
            </tr>
        }
    </table>
</div>
