@model rsvpyes.Models.Meetings.SendRsvpViewModel

@{
    ViewData["Title"] = "SendRsvp";
}

<h2>Details</h2>

<div>
    <h4>Meeting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.StartTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.StartTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.PlaceName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.PlaceName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.PlaceUri)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.PlaceUri)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.Fee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.Fee)
        </dd>
    </dl>
</div>
<div>
    @Html.Partial("_MailSendCommand",
        new rsvpyes.Services.MailSendCommand() { MeetingId = Model.Meeting.Id },
        new ViewDataDictionary(this.ViewData) { { "users", Model.Users } })
</div>
